<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.userinterface">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GameManager.ScoreBoard"></activity>
        <activity android:name=".GameManager.GameActivity" />
        <activity android:name=".GameManager.EndGame" />
        <activity android:name=".GameManager.NextGame" />
        <activity android:name=".GameManager.Stats" />
        <activity android:name=".GameManager.DisplayBadgesActivity" />
        <activity android:name=".GameManager.MenuActivity" />
        <activity android:name=".GameManager.TowerDefense.TowerDefenseActivity" />
        <activity android:name=".GameManager.SpaceInvaders.SpaceActivity" />
        <activity android:name=".GameManager.HangMan.HangManGameActivity" />
        <activity android:name=".GameManager.HangMan.ChooseCharacterActivity" />
        <activity android:name=".GameManager.HangMan.HangManActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameManager.PracticeMode" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>